$large-screen: 1000px
$medium-screem: 700px

.weight
	padding-top: 64px
	padding-bottom: 4rem
	display: flex
	flex-direction: column

	.module-title
		font-size: 3rem
		font-weight: 400
		padding-top: 1rem
		text-align: center

	.paper-container
		display: flex
		align-items: flex-start
		flex-direction: column-reverse

		@media (min-width: $large-screen)
			flex-direction: row

		.first-entry-paper
			margin: 0 auto
			padding: 2rem 8rem 3rem 8rem
			text-align: center

		.chart-paper
			width: 90vw
			height: auto
			margin: 0 auto
			text-align: center

			@media (min-width: $medium-screem)
				width: 80vw
			@media (min-width: $large-screen)
				width: 50vw

			.my-pretty-chart-container
				margin-top: 0rem
				margin-bottom: 0rem
				width: 100%

		.table-paper
			margin: 0 auto
			margin-bottom: 3rem
			width: 60vw
			text-align: center
			display: inline-block
			padding-bottom: 4rem

			@media (min-width: $medium-screem)
				width: 50vw
			@media (min-width: $large-screen)
				width: 30vw

			.table-title
				text-align: left
				width: 80%
				margin: 0 auto
				margin-top: 2rem
				margin-bottom: 1rem
				font-size: 30px
				font-weight: 300
				color: rgba(0, 0, 0, 0.870588)


			table
				margin: 0 auto
				width: 80%
				border-collapse: collapse

				th, .normal-column
					border: 1px solid #000

				.delete-column
					position: absolute