.weight
	padding-top: 64px
	display: flex
	flex-direction: column

	.module-title
		font-size: 3rem
		font-weight: 400
		padding-top: 1rem
		text-align: center

	.paper-container
		display: flex
		align-items: flex-start

		.chart-paper
			width: 50vw
			height: auto
			margin: 0 auto
			text-align: center

			.my-pretty-chart-container
				margin-top: 1rem
				margin-bottom: 2rem
				width: 100%

		.table-paper
			width: 30vw
			margin: 0 auto
			text-align: center
			display: inline-block

			.table-title
				text-align: left
				width: 80%
				margin: 0 auto
				margin-top: 2rem
				margin-bottom: 1rem
				font-size: 30px
				font-weight: 300
				color: rgba(0, 0, 0, 0.870588)


			table
				margin: 0 auto
				width: 80%
				border-collapse: collapse

				th, td
					border: 1px solid #000